# dependencies
node_modules/
.pnpm-store/

# builds
.next/
out/
dist/

# turborepo
.turbo/

# sanity
apps/studio/dist/
.sanity/

# env
.env
.env.*
!.env.example
!.env.local.example

# misc
.DS_Store
*.log
.vercel
*.tsbuildinfo
next-env.d.ts
.env*.local
CLAUDE.md
.claude/
